@model IEnumerable<Post>
@{

    ViewData["Title"] = "پست سازمانی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">پست</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditStudentModal" data-toggle="modal" asp-action="AddEditPost" asp-area="Transit" data-target="#modal-action-student" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  درج جدید
            </a>
        </div>
        <div class="top-buffer"></div>
        <form role="form">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>شیفت</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                <a id="editStudentModal" data-toggle="modal" asp-action="AddEditPost" asp-area="Transit" asp-route-id="@item.Id" data-target="#modal-action-student"
                                   class="btn btn-info">
                                    <i class="glyphicon glyphicon-pencil"></i>  ویرایش
                                </a>
                                <a id="deleteStudentModal" data-toggle="modal" asp-action="DeletePost" asp-area="Transit" asp-route-id="@item.Id" data-target="#modal-action-student" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>  حذف
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-student", AreaLabeledId = "modal-action-student-label", Size = ModalSize.Medium })

@section scripts
    {
    <script src="~/js/student-index.js" asp-append-version="true"></script>
}
