@{
    ViewBag.Title = "کنترل کیفیت";
}
@model ProjectPlanViewModel
<div class="row">
    <div class="col-md-3">
        <div class="product-info">
            <img src="~/img/StandardA.jpg" width="250" height="250" />
            <h3 style="text-align:center"><a asp-controller="Transit" asp-area="Transit" asp-action="SelectProject">ورود به پروژه</a></h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="product-info">
            <img src="~/img/StandardA.jpg" width="250" height="250" />
            <h3 style="text-align:center"><a asp-controller="Transit" asp-area="Transit" asp-action="DynamicTransitInfo">ورود به شرکت</a></h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="product-info">
            <img src="~/img/StandardA.jpg" width="250" height="250" />
            <h3 style="text-align:center"><a asp-controller="Transit" asp-area="Transit" asp-action="DynamicPerson">تعریف شخص</a></h3>
        </div>
    </div>
    @*<div class="col-md-3">
            <div class="product-info">
                <img src="~/img/StandardA.jpg" width="250" height="250" />
                <h3 style="text-align:center"><a asp-controller="Transit" asp-area="QC" asp-action="QualityDesignForView">نمایش</a></h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <img src="~/img/StandardA.jpg" width="250" height="250" />
                <h3 style="text-align:center"><a asp-controller="QC" asp-area="QC" asp-action="AllQualityDesign">کنترل تولید</a></h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <img src="~/img/QualityDesign1.jpg" width="250" height="250" />
                <h3 style="text-align:center"><a asp-controller="QC" asp-area="QC" asp-action="AllProcessName">نام فرآیند</a></h3>
            </div>
        </div>*@

</div>

