@model YearViewModel

@using (Html.BeginForm())
{
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Year" })

    <div class="modal-body form-horizontal">
        آیا برای برای حذف اطمینان دارید @Model.Name?
    </div>

    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
}

