

<div class="container" style="max-width: 500px;">
    <div class="form-group">
        <button class="btn btn-default" data-mddatetimepicker="true" data-targetselector="#input1" data-enabletimepicker="true" data-placement="left"
                data-trigger="click" data-englishnumber="true">
            انتخاب تاریخ
        </button>
        <button type="button" class="btn btn-danger" data-name="disable-button">غیر فعال</button>
        <button type="button" class="btn btn-primary" data-name="enable-button">فعال</button>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="input1" value="" />
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#input1").on("change", function () {
            var $this = $(this),
                value = $this.val();
            alert(value);
        });
    });
      $('[data-name="disable-button"]').click(function () {
          $('[data-mddatetimepicker="true"][data-targetselector="#input1"]').MdPersianDateTimePicker('disable', true);
      });
      $('[data-name="enable-button"]').click(function () {
          $('[data-mddatetimepicker="true"][data-targetselector="#input1"]').MdPersianDateTimePicker('disable', false);
      });
</script>